<div class="clause">
  <h1>
    <span class="minusLetterSpacing">----</span>[Lorem ipsum]<span class="minusLetterSpacing">----</span>
  </h1>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis molestie, sodales nibh eget, blandit ligula. Praesent a ipsum sem. Nullam tempus egestas neque, nec finibus ipsum elementum ac. Cras nec tortor iaculis, rhoncus ante vel, blandit nisl. Maecenas in bibendum ex. Fusce lacinia auctor lectus, a semper ex tincidunt quis. Aliquam sit amet justo posuere, congue nulla nec, fringilla metus. Pellentesque rhoncus faucibus velit, a eleifend sapien dapibus et. Curabitur blandit facilisis nunc, in tempor lorem lobortis id. Morbi eget purus faucibus, faucibus turpis ut, viverra metus. Duis vehicula magna sed feugiat blandit. Donec et erat at risus vehicula mattis vitae ut ligula.
</div>
{{$FANCY_DIVIDER}}
<div class="clause">
  <h1>
    <span class="minusLetterSpacing">----</span>[Praesent justo dui]<span class="minusLetterSpacing">----</span>
  </h1>
  Praesent justo dui, ultricies ac leo sed, sollicitudin dictum elit. Suspendisse facilisis sem vitae dapibus bibendum. Quisque pharetra, arcu quis tempus pulvinar, metus nisi venenatis metus, non cursus felis velit condimentum magna. Fusce porta dui nulla, at mollis orci consectetur vel. Morbi interdum scelerisque ligula eget aliquam. Nunc auctor ut tellus ac ornare. Vestibulum dapibus eget ante eu cursus. Sed dapibus nunc odio, ac tristique nunc sollicitudin eget. Pellentesque finibus nisl vel est egestas luctus. Aenean id pulvinar tellus.
</div>
{{$FANCY_DIVIDER}}
<div class="clause">
  <h1>
    <span class="minusLetterSpacing">----</span>[Morbi nec lorem]<span class="minusLetterSpacing">----</span>
  </h1>
  Morbi nec lorem ut ligula consequat tempor at scelerisque sem. Cras non augue placerat, convallis ligula sit amet, vestibulum nulla. Aliquam sodales commodo eleifend. Praesent varius ligula sit amet diam interdum, rhoncus aliquam tellus euismod. Aenean vulputate lobortis porttitor. Praesent a elementum lectus, non aliquet leo. Nunc maximus est rutrum leo sodales blandit. Integer vel risus non magna elementum venenatis. In sed magna et neque lacinia rutrum at quis lacus. Ut enim turpis, rhoncus ac pulvinar non, bibendum vitae nunc. Phasellus rutrum enim vitae nibh interdum luctus. Curabitur erat dolor, sodales non dapibus a, ultricies quis augue.
</div>
{{$FANCY_DIVIDER}}
<div class="clause">
  <h1>
    <span class="minusLetterSpacing">----</span>[Aliquam erat volutpat]<span class="minusLetterSpacing">----</span>
  </h1>
  Aliquam erat volutpat. Maecenas id ipsum ac risus tincidunt viverra ut in mi. Praesent venenatis suscipit purus, vel pharetra nibh vehicula non. Curabitur nibh massa, lobortis et rhoncus sed, egestas et lacus. Aenean varius nunc lectus, ut auctor risus cursus vitae. Aliquam erat volutpat. Etiam elementum purus augue, ac condimentum ipsum dictum id. In hac habitasse platea dictumst. Sed sed dui augue. Duis placerat turpis eget dolor feugiat ullamcorper. Donec vitae tellus in turpis tristique congue nec non nibh. Suspendisse tempor libero justo, quis placerat nisl blandit ac. Aliquam quis blandit nunc, vel luctus ligula. Cras at arcu ligula. Duis fringilla placerat metus, at vestibulum tellus egestas at. Fusce quis dolor turpis.
</div>
{{$FANCY_DIVIDER}}
<div class="clause">
  <h1>
    <span class="minusLetterSpacing">----</span>[Mauris eget efficitur]<span class="minusLetterSpacing">----</span>
  </h1>
  Mauris eget efficitur lorem. Vivamus eget blandit velit, non convallis mi. Curabitur efficitur porta felis, in sollicitudin mauris porta eget. Integer id turpis et augue cursus aliquam. Nulla a dui mi. Suspendisse at vehicula est, in tincidunt est. Quisque sodales, nunc a molestie porttitor, diam justo gravida elit, non hendrerit nisi ipsum in erat. Integer in velit ut nibh maximus lacinia. Morbi rutrum massa id ipsum pulvinar iaculis. Mauris eget risus id enim dignissim egestas. Nunc sollicitudin dictum ante, sit amet eleifend quam finibus in.
</div>
