<div id="homepage">
  <div id="homeContent">
    stuff
  </div>
  <div id="homeSidebar">
    <div class="homeWidget">
      <img src="{{$PAGE_URL_FOLDER}}/Assets/images/topImage.png" id="topImage" alt="[Bad Wolf Scans]">
    </div>
    <div class="homeWidget">
      <strong class="title">Latest News</strong><br>
      {{$LatestNews}}
    </div>
    <div class="homeWidget">
      <strong class="title">Latest Releases</strong><br>
      {{$LatestReleases}}
    </div>
    <div class="homeWidget">
      <strong class="title">User Area</strong><br>
      {{$UserArea}}
    </div>
    <div class="homeWidget">
      <strong class="title">User Stats</strong><br>
      {{$UserStats}}
    </div>
  </div>
  <div class="clear"></div>
</div>
